*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0f1117;
color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
line-height:1.6;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 10%;
background:#151923;
border-bottom:1px solid #222;
position:sticky;
top:0;
}

header h1{
font-size:32px;
letter-spacing:2px;
}

nav a{
color:white;
text-decoration:none;
margin-left:30px;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
text-align:center;
padding:120px 20px;
}

.hero h2{
font-size:58px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin:0 auto 35px;
color:#b8b8b8;
font-size:20px;
}

button{
background:#d4af37;
color:#111;
border:none;
padding:15px 35px;
font-size:18px;
border-radius:8px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
background:#e7c85a;
}

.about{
max-width:900px;
margin:80px auto;
padding:0 20px;
}

.about h2{
font-size:38px;
margin-bottom:20px;
}

.about p{
color:#b8b8b8;
font-size:18px;
}

footer{
text-align:center;
padding:35px;
border-top:1px solid #222;
color:#777;
margin-top:80px;
}
